# Python as a calculator

One of the simplest things you can do with python is begin to use it as a calculator as so:

In [1]:
3+3

6

You can use all the standard operators:
* $+$ (add)
* $-$ (subtract
* $*$ (multiply)
* $/$ (divide)
* $**$ (raise to an exponent)
* $\%$ (remainder; modular arithmetic)
* $//$ (quotient; floor division)

In [2]:
5-2

3

In [3]:
5+2

7

In [4]:
5*2

10

In [5]:
5/2

2.5

In [6]:
5**2

25

In [7]:
5%2 #Remainder/modular arithmetic

1

In [8]:
5//2 #Quotient/floor division

2

# Naming things with Variables
We can use the `=` sign to assign values to a variable.

In [9]:
width = 5

In [10]:
width

5

In [12]:
height = 4

In [13]:
width * height

20

If a variable is not defined, you wil get an error

In [14]:
depth

NameError: name 'depth' is not defined

# Strings
Strings are python's built in data type for storing text. Keep in mind, that digits can also be stored as strings, but will behave differently when stored as strings rather then *float* or *integer* numbers.

In [16]:
'Monty Python and the Holy Grail' #single (or double) quotes indicate a string

'Monty Python and the Holy Grail'

In [15]:
"Monty Python and the Holy Grail"

'Monty Python and the Holy Grail'

In [16]:
 sentence = "Monty Python \nand the Holy Grail"#\n is a special character denoting "new line"
sentence

'Monty Python \nand the Holy Grail'

In [17]:
print (sentence)

Monty Python
and the Holy Grail

## 2+2

'2+'2

In [19]:
'blah '*5

'blah blah blah blah blah '

In [1]:
'2'+'2'

'22'

In [20]:
ls st*

string-slicing.png

# String slicing
<img src='string-slicing.png' width=600>

In [3]:
name = 'Monty Python'

In [4]:
name [0] #first character in the string

'M'

In [6]:
name [:2]

'Mo'

In [23]:
name [:5] #first 5 characters in the string

'Monty'

In [24]:
name [:-10] #up to the last 10 characters in the string (note \n counts as 1 character)

'Mo'

In [25]:
name [-6:] #The last 6 characters

'Python'

In [26]:
name [::-1] #Everything going backwards

'nohtyP ytnoM'

Strings also have a number of built in methods including: 
* str.lower()
* str.upper()
* str.split()
* str.replace()
* str.strip()

In [27]:
name.lower()

'monty python'

In [12]:
name = name.lower ( )
name

'monty python'

In [28]:
name.upper()

'MONTY PYTHON'

In [29]:
name.split() #This returns a list! We'll talk about that next. (By default splits on spaces)

['Monty', 'Python']

In [30]:
name.split('y') #You can also split by other characters

['Mont', ' P', 'thon']

In [31]:
name.replace ('n','z')

'Mozty Pythoz'

In [32]:
name.strip() #Remove beginning/ ending whitespace

'Monty Python'

# Lists
Python also has a number of compound data types such as lists. These are used to group items together.

In [33]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [34]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
type (numbers)

list

Like strings, lists can be sliced by the index:

In [5]:
numbers[0]

1

In [36]:
numbers [-1]

10

In [37]:
numbers [:5]

[1, 2, 3, 4, 5]

# List methods
Lists also have many built in methods including:
* list.reverse()
    * Doesn't directly return anything but updates the list
* list.pop()
    * Remove the item at the given index (7) and return its value
* list.remove()
    * Find the given item and remove it. Doesn't return anything directly.
* list.append()
    * Append an item to the end of a list. No return value.
* list.insert()
    * Insert an item at a specific position.

In [14]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [15]:
numbers.sort () 
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
numbers.reverse () #Doesn't directly return anything but updates the list

In [42]:
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [43]:
numbers.pop(7)

3

In [44]:
numbers

[10, 9, 8, 7, 6, 5, 4, 2, 1]

In [45]:
numbers.remove (7) #Find the given item and remove it. Doesn't return anything directly.

In [51]:
numbers

[10, 9, 8, 6, 5, 4, 2, 1]

In [25]:
numbers = list (range(11))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
numbers.append (700)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 700]

In [47]:
numbers

[10, 9, 8, 6, 5, 4, 2, 1, 7]

In [48]:
numbers.insert (-3,3)

In [49]:
numbers

[10, 9, 8, 6, 5, 4, 3, 2, 1, 7]

# Loops and Iteration
Lists are a natural place to start looking at how we can iterate in python.

In [50]:
for number in numbers:
    print (number)

10
9
8
6
5
4
3
2
1
7

In [51]:
for num in numbers:
    print(num+2)

12
11
10
8
7
6
5
4
3
9

In [52]:
#Notice that we can use any alias as the variable name for our iterator:
for super_bad_variable_name in numbers:
    print(super_bad_variable_name)

10
9
8
6
5
4
3
2
1
7

In [32]:
salary = [1000, 450, 2000, 150, 7000]

In [ ]:
salary + 10

In [40]:
len(salary)

5

In [33]:
salary [1]

450

In [35]:
for val in salary:
    print (val)

1000
450
2000
150
7000

In [36]:
salary

[1000, 450, 2000, 150, 7000]

In [37]:
for val in salary:
    print (val)
    print ("My sal is",val)

1000
My sal is 1000
450
My sal is 450
2000
My sal is 2000
150
My sal is 150
7000
My sal is 7000

In [38]:
for val in salary:
    print (val)
print ("My sal is",val)

1000
450
2000
150
7000
My sal is 7000

In [39]:
new_salary = []
for val in salary:
    newval = val + 0.1 + val
    new_salary.append(newval)
    print (new_salary)

[2000.1]
[2000.1, 900.1]
[2000.1, 900.1, 4000.1]
[2000.1, 900.1, 4000.1, 300.1]
[2000.1, 900.1, 4000.1, 300.1, 14000.1]

In [41]:
new_salary = []
for val in salary:
    newval = val + 0.1 + val
    new_salary.append(newval)
print (new_salary)

[2000.1, 900.1, 4000.1, 300.1, 14000.1]

In [42]:
salary = [1000, 450, 2000, 150, 7000]

In [45]:
new_salary = []
for val in salary:
    if val > 500:
        newval = 1.5 * val
    else:
        newval = 1.7 * val
    new_salary.append(newval)
print(new_salary)

[1500.0, 765.0, 3000.0, 255.0, 10500.0]

In [48]:
new_salary = []
for val in salary:
    if val > 500:
        newval = 1.5 * val
    else:
        newval = 1.7 * val
        new_salary.append(newval)
print(new_salary)

[765.0, 255.0]

In [51]:
new_salary = []
for val in salary:
    print ("Orignal Sal",val)
    if val > 1000:
        newval = 1.3 * val
        print ("Block 1 Sal", newval)
    if val > 500:
        newval = 1.5 * val
        print ("block 2 Sal", newval)
    if val < 500:
        newval = 1.7 * val
        print ("Block 3 Sal", newval)

Orignal Sal 1000
block 2 Sal 1500.0
Orignal Sal 450
Block 3 Sal 765.0
Orignal Sal 2000
Block 1 Sal 2600.0
block 2 Sal 3000.0
Orignal Sal 150
Block 3 Sal 255.0
Orignal Sal 7000
Block 1 Sal 9100.0
block 2 Sal 10500.0

In [52]:
new_salary = []
for val in salary:
    print ("Orignal Sal",val)
    if val > 1000:
        newval = 1.3 * val
        print ("Block 1 Sal", newval)
    elif val > 500:
        newval = 1.5 * val
        print ("block 2 Sal", newval)
    elif val < 500:
        newval = 1.7 * val
        print ("Block 3 Sal", newval)

Orignal Sal 1000
block 2 Sal 1500.0
Orignal Sal 450
Block 3 Sal 765.0
Orignal Sal 2000
Block 1 Sal 2600.0
Orignal Sal 150
Block 3 Sal 255.0
Orignal Sal 7000
Block 1 Sal 9100.0

In [3]:
new_salary = []
for val in salary:
    print ("Orignal Sal",val)
    if val > 1000:
        newval = 1.3 * val
    elif val > 500:
        newval = 1.5 * val
    else:
        newval = 1.7 * val
new_salary.append(newval)
print(new_salary)

NameError: name 'salary' is not defined

# Booleans and Conditionals
Another basic data type we have ignored up until now are booleans which are used in classical logic. Booleans are either True or False.

In [53]:
type (True)

bool

In [54]:
type (False)

bool

Booleans are very useful for conditional execution. For example:

In [55]:
for i in [1,2,3,4,5]:
    if i < 3:
        print(i)

1
2

Through each iteration of the loop, python is evaluating the expression `i < 3` and resolving it to a boolean to determine whether or not to execute the following paragraph of code.

In [56]:
1 < 3

True

In [57]:
2 < 3

True

In [58]:
3 < 3

False

In [53]:
4 <  < 3

False

In [54]:
5 < 3

False